<div class="marquee-container text-center">
    <h1 class="marquee-text">
        Summer Training.<br>
        Special 3 month for all 10th and +2 Students.
    </h1>
</div>


<!-- Advertisement Section -->
<div class="container-fluid my-4">
    <div class="row no-gutters ad-row">

        <!-- Left -->
        <div class="col-2 col-md-3 col-lg-2 ad-box">
            <img src="img/banner2.jpeg" alt="Left Ad">
        </div>

        <!-- Center -->
        <div class="col-8 col-md-6 col-lg-8 ad-box">
            <img src="img/banner1.jpeg" alt="Main Ad">
        </div>

        <!-- Right -->
        <div class="col-2 col-md-3 col-lg-2 ad-box">
            <img src="img/banner3.jpeg" alt="Right Ad">
        </div>

    </div>
</div>

<!-- Full Width Advertisement Banner -->
<!-- <section class="full-ad-banner">
        <img src="img/banner_merge.jpg" alt="Summer Training Advertisement">
    </section> -->
<!-- Advertisement Section END -->